# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/standalone_admin_password.txt
airflow/*.pid
airflow/simple_auth_manager_passwords.json.generated

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

*.egg-info/

# Data
data/external/*
!data/external/.gitkeep

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/models/*
!data/models/.gitkeep

data/reports/*
!data/reports/.gitkeep

data/features/*
!data/features/.gitkeep

data/archive/*
!data/archive/.gitkeep

mlruns/

mlflow.db
